.first-row-wrapper {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  
  .first-row-wrapper h1 {
    color: rgba(14, 204, 115, 1);
    font-weight: 900;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 85px;
  }
  
  .first-row-wrapper p {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    max-width: 1110px;
    margin-bottom: 60px;
  }
  
  
  .first-row-wrapper p{
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
  }
 
  .second-row-wrapper{
      background-color: #F9F9F9;
      height: 520px;
      width: 100%;
  }
  .nice{
    max-width: 940px;
    font-weight: bold;
    margin-bottom: 90px;
    font-size: 35px;
}

h4{
    font-size: 30px;
}