.main-wrapper{
    display: flex;
    flex-direction: row;
    max-width: 1110px;
    margin: auto;
    margin-top: 102px;
    margin-bottom: 50px;
    justify-content: space-around;
    position: relative;

}
.first-column {
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 80px;
    font-weight: bold;
}
.second-header{
    color: rgba(14, 204, 115, 1);
    margin-left: 20px;
}

.first-column .first-row-title{
display: flex;
flex-direction: row;
margin-top: 60px;
}

.first-p{
margin-top: 90px;
font-size: 20px;
line-height: 20px;
font-weight: 800;
text-transform: uppercase;
}
.second-p{
    margin-top: 280px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    position: absolute;
}

.second-column img{
    width: 680px;
    height: 455px;
}

button{
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 12px 38px 12px 38px;
    width: 230px;
    height: 53px;
    background-color: rgba(14, 204, 115, 1);
    border-radius: 40px;
    border: none;
    margin-top: 100px;
    cursor: pointer;
}